.board {
  border: solid 1px black;
  font-family: monospace;
  font-weight: bold;
  font-size: 200%;
}

.board td {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
}

.messages {
  padding: 1em;
}

.messages.ok {
  color: white;
  background-color: green;
}

.messages.err {
  color: white;
  background-color: tomato;
}
